<div class="container">
  <h2>Crear una cuenta</h2>
  <form action="#" method="post">
    <div class="row">
      <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
      </div>
      <div class="form-group">
        <label for="correo">Correo electrónico:</label>
        <input type="email" id="correo" name="correo" required>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <label for="contraseña">Contraseña:</label>
        <input type="password" id="contraseña" name="contraseña" required>
      </div>
      <div class="form-group">
        <label for="repetir-contraseña">Confirmar contraseña:</label>
        <input type="password" id="repetir-contraseña" name="repetir-contraseña" required>
      </div>
    </div>
    <div class="row">
      <div class="form-group">
        <label for="nick">Nick:</label>
        <input type="text" id="nick" name="nick" required>
      </div>
      <div class="form-group">
        <label for="estado">Estado:</label>
        <input type="text" id="estado" name="estado" required>
      </div>
    </div>
    <button type="submit" class="btn">Siguiente</button>
    <div class="options">
      <a routerLink="/login">¿Ya tienes una cuenta? Inicia sesión aquí</a>
    </div>
  </form>
</div>
