<header class="cabecera">
  <div class="logo-container">
    <a routerLink="/"><img src="assets/tinder.png" alt="Logo" class="logo"></a>
  </div>
  <nav  class="menu-navegacion">
      <span [style]="actualSubMenu() === 'eventos' ? 'color:black; border:2px solid; padding:5px; border-radius:10px' : 'padding:5px'" (click)="cambiarSubMenu('eventos')" id="pages">Eventos</span>
      <span [style]="actualSubMenu() === 'usuarios' ? 'color:black; border:2px solid; padding:5px; border-radius:10px' : 'padding:5px'"  (click)="cambiarSubMenu('usuarios')" id="pages">Usuarios</span>
  </nav>
  <span (click)="cerrarAplicacion()" id="cerrar">
    <img src="assets/logout.svg">
  </span>
</header>
