.cabecera {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px;
  gap: 20px;
  background-image: linear-gradient(to right, #ff6f61, #ffcc29);
  color: black;
}

.logo-container img {
  width: 40px;
  margin-right: auto;
}

.logo-container{
  display: flex;
  align-items: center;
  gap: 20px;
  font: 800 20px 'Roboto', sans-serif;
}

.menu-navegacion{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-items: center;
  gap: 20px;
  width: 100%;
}

#cerrar{
  margin-left: auto;
  cursor: pointer;
}

#pages{
  font-weight: bold;
  color:white;
  cursor: pointer;
  user-select: none;
}

#pages:hover{
  color: black;
}
