.footer-container {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f9f9f9;
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
  background-image: linear-gradient(to right, #ff6f61, #ffcc29);
}

.footer-text {
  color: black;
  font-size: 14px;
}
