.footer-container {
  margin-top: auto;
  width: 100%;
  background-color: #f9f9f9;
  padding: 20px;  
  text-align: center;
  background-image: linear-gradient(to right, #ff6f61, #ffcc29);
  z-index: 100;
}

.footer-container img{
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.footer-text {
  color: black;
  font-size: 14px;
}
