.cabecera {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px;
  background-image: linear-gradient(to right, #ff6f61, #ffcc29);
  color: black;
}

.logo-container img {
  width: 40px;
  margin-right: auto;
}


.menu-navegacion {
  position: relative;
  flex-direction:row;
  display: flex;
  justify-content: end;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

main {
  padding-top: 60px;
}

.logOut{
  min-width: 130px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 15px;
  padding-right: 15px;
  font: white;
  font-weight: bold;
  border-radius: 20px;
  border-color: transparent;
  position: relative;
}
