
<div class="container">
  <h2>Iniciar sesión</h2>
  <form [formGroup]="formulario" (ngSubmit)="login()">
    <div class="form-group">
      <label for="email">Correo electrónico:</label>
      <input type="email" id="email" formControlName="Email" required />
    </div>
    <div class="form-group">
      <label for="contraseña">Contraseña:</label>
      <input type="password" id="contraseña" formControlName="Contraseña" required/>
    </div>
    <button type="submit" class="btn">Iniciar sesión</button>
  </form>
  <div class="options">
    <a routerLink="/recuperar">¿Olvidaste tu contraseña?</a>
    <span> | </span>
    <a routerLink="/registro">¿No tienes una cuenta? Regístrate aquí</a>
  </div>
</div>
