<app-cabezera-admin (cambiandoSubMenu)="cambiandoSubMenu($event)"></app-cabezera-admin>

<div class="subMenu" *ngIf="subMenu() === 'eventos'">
<h2 class="tituloPrincipal">Eventos</h2>
<div id="listaEventos">
  <input type="text" id="buscador" placeholder="Buscar evento" [(ngModel)]="filter">
  <div id="contenedor">
    @for(evento of eventos() | appFiltroTexto:filter(); track evento.id){
      <div id="columnaEvento">
        <span style="width: 100%;">{{evento.Nombre}}</span>
        <span style="width: 100%;">{{evento.FechaRealizacion}}</span>
        <span style="width: 100%;">{{evento.Descripcion}}</span>
        <div id="operaciones">
          <span (click)="eventoActual.set(evento); modalEvento.set(!modalEvento())" id="operacion">
            <img src="assets/edit.svg">
          </span>
          <span (click)="borrarEvento(evento.id)" id="operacion">
            <img src="assets/delete.svg">
          </span>
        </div>
      </div>

    }@empty {
      <p>No hay eventos actuales</p>
    }
  </div>
  <span (click)="modalCrearEvento.set(!modalCrearEvento())" id="crearEvento">Crear evento +</span>
</div>
</div>

<div class="subMenu" *ngIf="subMenu() === 'usuarios'">
<h2 class="tituloPrincipal">Listado de usuarios</h2>
<div id="listaUsuarios">
  <input type="text" id="buscador" placeholder="Buscar usuario" [(ngModel)]="filter">
  <div id="contenedor">
    @for(usuario of usuarios() | appFiltroTexto:filter(); track usuario.id){
      @if(usuario.email === usuarioSesion().email ){

      }@else{
        <div id="columnaUsuario">
          <span style="width: 100%;">{{usuario.nombre}}</span>
          <span style="width: 100%;">{{usuario.email}}</span>
          <span style="width: 100%;">{{usuario.estado}}</span>
          <div id="operaciones">
            <span (click)="usuarioActual.set(usuario); modalUsuario.set(!modalUsuario())" id="operacion">
              <img src="assets/edit.svg">
            </span>
            <span (click)="borrarUsuario(usuario.id)" id="operacion">
              <img src="assets/delete.svg">
            </span>
          </div>
        </div>
      }
    }@empty {
      <p>No hay usuarios registrados</p>
    }
  </div>
</div>
</div>

@if(modalUsuario()){
  <app-modal-usuario [usuario]="usuarioActual()" (cerrarModal)="cambiandoValorModal($event)"></app-modal-usuario>
}

@if(modalEvento()){
  <app-modal-evento [evento]="eventoActual()" (cerrarModal)="cambiandoValorModalEvento($event)"></app-modal-evento>
}

@if(modalCrearEvento()){
  <app-modal-crear-evento (guardar)="guardando($event)" (cerrarModal)="cambiandoValorModalEventoCrear($event)"></app-modal-crear-evento>
}


<app-pie-admin></app-pie-admin>
