<app-cabezera-admin (cambiandoSubMenu)="cambiandoSubMenu($event)"></app-cabezera-admin>

<div class="subMenu" *ngIf="subMenu() === 'eventos'">
<h2 class="tituloPrincipal">Eventos</h2>
<div id="listaEventos">
  <span (click)="modalCrearEvento.set(!modalCrearEvento())" id="crearEvento">Crear evento +</span>

  <input type="text" id="buscador" placeholder="Buscar evento" [(ngModel)]="filter">
  <div id="contenedor">

    @for(evento of eventos() | appFiltroTexto:filter(); track evento.id){
      <div id="columnaEvento">
        <span style="width: 100%;">{{evento.nombre}}</span>
        <span style="width: 100%;">{{evento.fechaRealizacion}}</span>
        <span style="width: 100%;">{{evento.descripcion}}</span>
        <div id="operaciones">
          <span (click)="eventoActual.set(evento); modalEvento.set(!modalEvento())" id="operacion">
            <img src="assets/edit.svg">
          </span>
          <span (click)="borrarEvento(evento.id)" id="operacion">
            <img src="assets/delete.svg">
          </span>
        </div>
      </div>

    }@empty {
      <p>No hay eventos actuales</p>
    }
  </div>
</div>
</div>

<div class="subMenu" *ngIf="subMenu() === 'usuarios'">
<h2 class="tituloPrincipal">Listado de usuarios</h2>
<div id="listaUsuarios">
  <input type="text" id="buscador" placeholder="Buscar usuario" [(ngModel)]="filter">
  <div id="contenedor">
    @for(usuario of usuarios() | appFiltroTexto:filter(); track usuario.id){
      @if(usuario.email === usuarioSesion().email ){

      }@else{
        <div id="columnaUsuario">
          <span style="width: 100%;">{{usuario.nombre}}</span>
          <span style="width: 100%;">{{usuario.email}}</span>
          <span (click)="usuario.estado === 'activo' ? usuario.estado = 'inactivo' : usuario.estado = 'activo'; guardarCambios(usuario)">
            @if(usuario.estado === 'activo'){
              <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 512 512">
                <path fill="green" d="M368 112H144a144 144 0 0 0 0 288h224a144 144 0 0 0 0-288m0 230a86 86 0 1 1 86-86a85.88 85.88 0 0 1-86 86" />
              </svg>
            }@else{
              <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 24 24">
                <path fill="red" d="M8 7a5 5 0 0 0 0 10h8a5 5 0 0 0 0-10zm0-2h8a7 7 0 1 1 0 14H8A7 7 0 1 1 8 5m0 10a3 3 0 1 1 0-6a3 3 0 0 1 0 6" />
              </svg>

            }
          </span>
          <div id="operaciones">
            <span (click)="usuarioActual.set(usuario); modalUsuario.set(!modalUsuario())" id="operacion">
              <img src="assets/edit.svg">
            </span>
            <span (click)="borrarUsuario(usuario.id)" id="operacion">
              <img src="assets/delete.svg">
            </span>
          </div>
        </div>
      }
    }@empty {
      <p>No hay usuarios registrados</p>
    }
  </div>
</div>
</div>

@if(modalUsuario()){
  <app-modal-usuario [usuario]="usuarioActual()" (cerrarModal)="cambiandoValorModal($event)"></app-modal-usuario>
}

@if(modalEvento()){
  <app-modal-evento [evento]="eventoActual()" (cerrarModal)="cambiandoValorModalEvento($event)"></app-modal-evento>
}

@if(modalCrearEvento()){
  <app-modal-crear-evento (guardar)="guardando($event)" (cerrarModal)="cambiandoValorModalEventoCrear($event)"></app-modal-crear-evento>
}


<app-pie-admin></app-pie-admin>
