<dialog open>
  <span (click)="cerrarModalFn()" id="close">
  <img src="assets/close.svg">
  </span>
  <h2>Editar evento</h2>
  <div id="form">
    <div id="campo">
      <label >Nombre</label>
      <input style="width: 100%;" type="text"  [(ngModel)]="evento.nombre">
    </div>
    <div id="campo">
      <label >Descripción</label>
      <input style="width: 100%;" type="text"  [(ngModel)]="evento.descripcion">
    </div>
    <div id="campo">
      <label >Geolocalización</label>
      <input (focus)="cambiarOpcion(true)"   style="width: 100%;" type="text"  [(ngModel)]="evento.geolocalizacion">
    </div>
    <div id="campo">
      <label >Fecha de Realización</label>
      <input style="width: 100%;" type="date"  [(ngModel)]="evento.fechaRealizacion">
    </div>
    <div id="campo">
      <label >Fecha de Cierre</label>
      <input style="width: 100%;" type="date"  [(ngModel)]="evento.fechaCierreInscripcion">
    </div>
    <h2>Inscritos</h2>
    <div id="inscritosContainer">
     @for(inscrito of evento.inscripcioneseventos; track inscrito.id){
          <div  id="inscrito">
               <label>{{ usuarios()[inscrito.usuarioID] || 'Cargando...' }}</label>
               <label (click)="eliminarUsuarioDelEvento(inscrito.usuarioID, evento.id)" id="quitar">Quitar del evento</label>
          </div>
     }
     @empty {
          <div id="inscrito">
               <label style="text-align: center; width: 100%;">No hay inscritos</label>
          </div>
     }
    </div>

    <div *ngIf="editandoMapa === true" id="popUpMapa">
     <div style="width: 100%; height: 100%; position: relative;">
          <span (click)="cambiarOpcion(false)"  id="close2">
               <img src="assets/close.svg">
          </span>
          <div id="map"></div>
     </div>
</div>
  <button style="z-index: 400;" (click)="guardarCambios()">Guardar cambios</button>
  </div>
  </dialog>
